<footer class="footer mt-auto kalendu-footer mt-3">
    <div class="container-fluid kalendu-footer-legal p-1">
        <div class="container">
            <div class="d-flex flex-row kalendu-footer-links justify-content-between">
                <div class="footer-copyright">
                    &copy; {{dtnow | date:'yyyy'}} <a href="https://web-service-as.de" target="_blank">Web-Service AS</a>
                </div>
                <div class="footer-legal-links">
                    <a href="">Über</a> | <a href="">Datenschutz</a> | <a href="">Impressum</a>
                </div>
            </div>
        </div>
    </div>
</footer>