@charset "utf-8";
/* CSS Document */

/* CSS FOR HEADER */
.kalendu-fixed-header-bg {
	background: #5AA8C2;
}
.kalendu-header-logo {
	padding-bottom:4px;
	width:30px;
}

.kalendu-breadcrumb {
	font-size:0.6rem !important;
}
