<div *ngIf="!bIsLoaded" class="row">
  <ngb-progressbar type="warning" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar>
</div>
<div class="row no-gutters" *ngIf="bIsLoaded">
  <div class="col-11">
    <div class="jumbotron">
      <div class="row no-gutters">
        <div class="col-12">
          <p class="bg-info text-left">{{group.title}}</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-4">
          <p *ngIf="game.title" class="text-uppercase">{{game.title}}</p>
          <p *ngIf="!game.title" class="text-uppercase">Freizeitkick</p>
        </div>
        <div class="col-8">
          <div *ngIf="game.play===9">
            <p class="bg-danger text-uppercase">Abgesagt!</p>
          </div>
          <div *ngIf="game.play===2">
            <div *ngIf="membersa?.length < game.min">
              <p class="bg-warning text-uppercase">Noch {{iNeed}} Zusage notig!</p>
            </div>
            <div>
              <p class="bg-success text-uppercase">{{membersa?.length}} Zusage - es wird trotzdem gespielt</p>
            </div>
          </div>
          <div *ngIf="game.play!==9 && game.play!==2">
            <div *ngIf="membersa?.length >= game.min">
              <p class="bg-success text-uppercase">{{membersa?.length}} Zusage - es wird gespielt</p>
            </div>
            <div *ngIf="membersa?.length < game.min">
              <p class="bg-danger text-uppercase">Noch {{iNeed}} Zusage notig!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-10">
          <p class="text-left text-secondary">
            <i class="fas fa-calendar-check"></i>
            {{ game.dt | date:'EEEE, dd.MM.yyyy' }}
            <i class="fas fa-clock"></i>
            {{ game.dt | date:'HH:mm' }} Uhr
          </p>
          <p class="text-left text-secondary">
            <i class="fas fa-map-marker-alt"></i>
            &nbsp;<span>{{place.title}}</span>
          </p>
          <div *ngIf="game.play===9">
            <p class="bg-danger text-uppercase">Abgesagt!</p>
          </div>
          <div *ngIf="game.play===2">
            <p class="text-left text-success text-uppercase">
              <span class="">Du kannst noch einsteigen, solange Platz frei!</span>
            </p>
          </div>
          <div *ngIf="game.play!==9 && game.play!==2">
            <p *ngIf="!bDeadline" class="text-left text-danger text-uppercase">
              Deadline Anmeldung: {{dlDays}} <span class="text-secondary dl-days">Tage</span> {{dlHours}} <span
                    class="text-secondary dl-hours">Stunden</span> {{dlMinutes}} <span
                    class="text-secondary dl-minutes">Minuten</span> {{dlSeconds}}
              <span class="text-secondary dl-seconds">Sekunden</span>
            </p>
            <p *ngIf="bDeadline && membersa?.length < game.min" class="text-left text-danger text-uppercase">
              Deadline Anmeldung: <span class="">Es wird nicht gespielt!</span>
            </p>
            <p *ngIf="bDeadline && membersa?.length >= game.min" class="text-left text-success text-uppercase">
              <span class="">Du kannst noch einsteigen, solange Platz frei!</span>
            </p>
          </div>
        </div>
        <div class="col-2">
          <div class="">
            <!-- <a [routerLink]="['/games', game.id]" class="btn btn-outline-dark btn-round-lg">
                        </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1">
    <div class="d-flex flex-column">
      <a class="btn btn-outline-dark btn-round" (click)="onGamePlay(1)" *ngIf="group.aowner === gid">
        <i class="fas fa-play"></i>
      </a>
      <div class="btn btn-outline-dark btn-round" (click)="onGamePlay(2)" *ngIf="group.aowner === gid">
        <i class="fas fa-thumbs-up"></i>
      </div>
    </div>
    <div class="d-flex flex-column">
      <a class="btn btn-outline-dark btn-round" (click)="onGamePlay(9)" *ngIf="group.aowner === gid">
        <i class="fas fa-ban"></i>
      </a>
      <a class="btn btn-outline-dark btn-round" (click)="onGameRemove()" *ngIf="group.aowner === gid">
        <i class="fas fa-trash-alt"></i>
      </a>
    </div>
  </div>
</div>
<div class="row no-gutters mb-2" *ngIf="bIsLoaded">
  <div class="col-2">
    <div *ngIf="game.play!==9 && game.play!==2">
      <a *ngIf="membersa?.length >= game.min || !bDeadline" class="text-light" (click)="onNavigateGame()">
        <p class="bg-info text-left text-uppercase text-center">mitspielen</p>
      </a>
    </div>
    <div *ngIf="game.play===2">
      <a class="text-light" (click)="onNavigateGame()">
        <p class="bg-info text-left text-uppercase text-center">mitspielen</p>
      </a>
    </div>
  </div>
  <div class="col-10"></div>
</div>
