<div class="kalendu-main-spielrunde-item position-relative">
  <div class="kalendu-main-spielrunde-alert-red position-absolute" *ngIf="game.play===9">Abgesagt</div>

  <div class="kalendu-main-spielrunde-alert-green  position-absolute" *ngIf="game.play===2">
    <div class="kalendu-main-spielrunde-alert-green ">{{membersa?.length}} Zusage - es
      wird trotzdem gespielt</div>
    <div class="kalendu-main-spielrunde-alert-red  bg-warning" *ngIf="membersa?.length < game.min">
      aber noch {{iNeed}} Zusagen nötig</div>
  </div>

  <div *ngIf="game.play!==9 && game.play!==2">
    <div class="kalendu-main-spielrunde-alert-green position-absolute" *ngIf="membersa?.length >= game.min">
      {{membersa?.length}} Zusage - Wir
      spielen!</div>
    <div class="kalendu-main-spielrunde-alert-red position-absolute" *ngIf="membersa?.length < game.min">Noch {{iNeed}}
      Zusagen nötig</div>
  </div>

  <h3 class="kalendu-main-spielrunde-headline" *ngIf="game.title">{{game.title}}</h3>
  <h3 class="kalendu-main-spielrunde-headline" *ngIf="!game.title">Freizeitkick</h3>
  <div class="d-flex flex-row kalendu-main-spielrunde-infos">
    <div class="pr-2"><i class="fas fa-calendar-alt"></i> {{ game.dt | date:'EEEE, dd.MM.yyyy' }}</div>
    <div class="pr-2"><i class="fas fa-clock"></i> {{game.dt | date:'HH:mm'}} Uhr</div>
    <div class="pr-0"><i class="fas fa-map-marker-alt"></i> {{place.title}}</div>
  </div>
  <div class="kalendu-main-spielrunde-deadline mt-3">

    <span class="text-red" *ngIf="game.play===9">Abgesagt!</span>
    <span class="text-red" *ngIf="game.play===2">Du kannst noch einsteigen, solange Platz frei!</span>

    <div *ngIf="game.play!==9 && game.play!==2">
      <div *ngIf="!bDeadline">
        <span class="text-red">Deadline Anmeldung: </span>
        <span class="text-red">{{dlDays}} </span>
        <span>Tage </span>
        <span class="text-red">{{dlHours}} </span>
        <span>Stunden </span>
        <span class="text-red">{{dlMinutes}} </span>
        <span>Minuten </span>
        <span class="text-red">{{dlSeconds}} </span>
        <span>Sekunden </span>
      </div>
      <span *ngIf="bDeadline && membersa?.length < game.min" class="text-red">
        Deadline Anmeldung: <span class="">Es wird nicht gespielt!</span>
      </span>
      <span *ngIf="bDeadline && membersa?.length >= game.min" class="text-red">
        Du kannst noch einsteigen, solange Platz frei!
      </span>
    </div>
  </div>

  <div class="kalendu-main-spielrunde-button1 position-absolute" *ngIf="game.play===2"  (click)="onGameMemberNew()">
    Sofort mitspielen
  </div>
  <ng-container *ngIf="game.play!==9 && game.play!==2">
    <div *ngIf="membersa?.length >= game.min || !bDeadline" class="kalendu-main-spielrunde-button1 position-absolute"
      (click)="onGameMemberNew()">
      Sofort mitspielen
    </div>
  </ng-container>

  <div class="kalendu-main-spielrunde-button2 position-absolute" *ngIf="game.play===2" (click)="onNavigateGame()">
    Zur Anmelde-Seite
  </div>
  <ng-container *ngIf="game.play!==9 && game.play!==2">
    <div *ngIf="membersa?.length >= game.min || !bDeadline" class="kalendu-main-spielrunde-button2 position-absolute"
         (click)="onNavigateGame()">
         Zur Anmelde-Seite
    </div>
  </ng-container>

  <ng-template #tipContent let-text="text" placement="left">{{text}}</ng-template>
  <!-- EDIT BAR -->
  <a class="kalendu-main-edit-button kalendu-main-edit-button1" (click)="onGamePlay(2, t1)" *ngIf="group.aowner === gid"
     placement="left" triggers="manual" [ngbTooltip]="tipContent" #t1="ngbTooltip">
    <i class="fas fa-thumbs-up text-green"></i>
  </a>
  <a class="kalendu-main-edit-button kalendu-main-edit-button2" (click)="onGamePlay(9, t2)" *ngIf="group.aowner === gid"
     placement="left" triggers="manual" [ngbTooltip]="tipContent" #t2="ngbTooltip">
    <i class="fas fa-thumbs-down text-red"></i>
  </a>
  <div ngbDropdown placement="bottom-right" class="kalendu-main-edit-button kalendu-main-edit-button3"
       *ngIf="group.aowner === gid">
    <i class="fas fa-ellipsis-h" ngbDropdownToggle></i>
    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
      <div class="dropdown-item" (click)="onGamePlay(1)" *ngIf="group.aowner === gid && game.play === 9">
        <i class="fas fa-thumbs-up"></i>
        <span>&nbsp;Wieder aktivieren</span>
      </div>
      <a class="dropdown-item" (click)="onGameRemove()" *ngIf="group.aowner === gid">
        <i class="fas fa-trash-alt"></i>
        <span>&nbsp;Spielrunde löschen</span>
      </a>
    </div>
  </div>
  <!-- /EDIT BAR -->
</div>

