@charset "utf-8";
/* CSS Document */


















/* .kalendu-main-edit-button1,
.kalendu-main-settings-button1,
.kalendu-main-share-button1 {
  top: 0px;
  right: -54px;
}

.kalendu-main-edit-button2,
.kalendu-main-settings-button2,
.kalendu-main-share-button2 {
  top: 40px;
  right: -54px;
}

.kalendu-main-edit-button3,
.kalendu-main-settings-button3,
.kalendu-main-share-button3 {
  top: 80px;
  right: -54px;
}

.kalendu-main-edit-button4,
.kalendu-main-settings-button4,
.kalendu-main-share-button4 {
  top: 120px;
  right: -54px;
} */

.kalendu-main-settings-button,
.kalendu-main-share-button {
  right: -40px;

}

.kalendu-main-share-button {
  top: 44px;
}


/* SPIELGRUPPE */


.kalendu-main-spielrunde-item {
  background-color: #e6e6e6;
  border-bottom-right-radius: 20px;
  padding: 10px;
  z-index: 400;
  margin-bottom: 5rem;
}

.kalendu-main-spielrunde-headline {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.kalendu-main-spielrunde-alert-red {
  top: 0px;
  right: 0px;
  background-color: #ED1A43;
  font-size: 0.8rem;
  color: white;
  padding: 3px;

}

.kalendu-main-spielrunde-alert-green {
  top: 0px;
  right: 0px;
  background-color: #13B069;
  font-size: 0.8rem;
  color: white;
  padding: 3px;
}

.kalendu-main-spielrunde-infos {
  font-size: 0.8rem;
}

.kalendu-main-spielrunde-deadline {
  font-size: 0.7rem;
}

.kalendu-main-spielrunde-button1 {
  cursor: pointer;
  bottom: -36px;
  left: 0px;
  background-color: #13B069;
  z-index: 100;
  padding: 6px;
  color: white;
}


.kalendu-main-spielrunde-button2 {
  cursor: pointer;
  bottom: -36px;
  left: 180px;
  background-color: #ffc107;
  z-index: 100;
  padding: 6px;
  color: white;
}



/* SPIELORT */




/* special */
.kalendu-main-button-block {
  height: 34px;
}
