<app-a-header>
</app-a-header>

<ngx-spinner bdColor="#c1c1c1" size="large" color="#fff" type="ball-scale-multiple">
</ngx-spinner>

<div class="container kalendu-main-section" *ngIf="!loading">
  <p class="path">
    Orte
    <span class="text-danger">&nbsp;&gt;&gt;&nbsp;</span>
    <a [routerLink]="['/places']">
      Spielstätten
    </a>
    <span class="text-danger">&nbsp;&gt;&gt;&nbsp;</span>
    <a [routerLink]="['/groups',{place_id:place.id}]">
      Gruppen
    </a>
    <span class="text-danger">&nbsp;&gt;&gt;&nbsp;</span> Spielrunde
  </p>
  <div class="row no-gutters">
    <div class="col-6">
      <h3>{{place.title}}</h3>
    </div>
    <div class="col-6"></div>
  </div>
  <div class="row no-gutters">
    <div class="col-2">
      <p class="text-left ">Adresse:</p>
    </div>
    <div class="col-6">
      <p class="text-left ">{{place.street}} {{place.nr}}</p>
      <p class="text-left ">{{place.zip}} {{place.city}}</p>
    </div>
    <div class="col-3"></div>
    <div class="col-1">
      <a class="btn btn-outline-dark btn-round" target="_blank"
         href="https://www.google.com/maps/search/?api=1&query={{place.street}} {{place.nr}} {{place.zip}} {{place.city}}">
        <i class="fas fa-map-marker-alt"></i>
      </a>
      <a class="btn btn-outline-dark btn-round" (click)="onSubscribeToNotifications()">
        <i class="fas fa-bell"></i>
      </a>
      <a class="btn btn-outline-dark btn-round" (click)="onSendNotifications()" *ngIf="group.aowner === gid">
        <i class="fas fa-paper-plane"></i>
      </a>
      <div class="btn btn-outline-dark btn-round btn-warning" (click)="onLockGroup()"
           *ngIf="group.aowner === gid && group.status === 5" (mouseover)="ilock='lock-open'" (mouseout)="ilock='lock'">
        <i class="fas fa-{{ilock}}" class="icon-text"></i>
      </div>
      <div class="btn btn-outline-dark btn-round" (click)="onLockGroup()"
           *ngIf="group.aowner === gid && group.status === 1" (mouseover)="ilockopen='lock'"
           (mouseout)="ilockopen='lock-open'">
        <i class="fas fa-{{ilockopen}}" class="icon-text"></i>
      </div>
      <a class="btn btn-danger btn-round" *ngIf="group.aowner === gid" (click)="onGroupRemDlg(dlggrouprem)">
        <i class="fas fa-trash"></i>
      </a>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-11">
      <h3>{{group.title}} &nbsp;&gt;&gt;&nbsp;Spielrunde</h3>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-outline-dark btn-round" (click)="onGameNewDlg(dlggamenew)"
              *ngIf="group.aowner === gid">
        <!-- <div class="btn btn-outline-dark btn-round"> -->
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <div *ngFor="let game of games">
    <app-game-list-item [game]="game" [group]="group" [place]="place" [gid]="gid" (remove)='onGameRemoveDlg($event)'
                        (play)='onPlayGame($event)'></app-game-list-item>
  </div>

</div>


<!-- DIALOG -->
<!-- ******************************** -->
<!-- SPIELRUNDE NEU -->
<ng-template #dlggamenew let-modal>
  <div class="modal-body" ngDraggable>
    <button type="button" class="close" (click)="modal.dismiss('close')">
      <i class="fas fa-times"></i>
    </button>
    <div class="form-row">
      <div class="col-12">
        <h3>Neue Runde?</h3>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Name" autofocus [(ngModel)]="gameNew.title">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-6">
        <label class="kalendu-dlg-content-label">Wann spielen wir?</label>
        <input class="form-control" placeholder="dd.mm.yyyy" (focus)="d.open()" [(ngModel)]="gameNew.dt" ngbDatepicker
               #d="ngbDatepicker">
      </div>
      <div class="form-group col-6">
        <ngb-timepicker [(ngModel)]="gameNew.dtt" [minuteStep]="15"></ngb-timepicker>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-6">
        <label class="kalendu-dlg-content-label">Deadline:</label>
        <input class="form-control" placeholder="dd.mm.yyyy" (focus)="d.open()" [(ngModel)]="gameNew.dd" ngbDatepicker
               #d="ngbDatepicker">
      </div>
      <div class="form-group col-6">
        <ngb-timepicker [(ngModel)]="gameNew.ddt" [minuteStep]="15"></ngb-timepicker>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <button type="button" class="btn btn-danger" (click)="modal.close('oknew')">Ok</button>
      </div>
    </div>
  </div>
</ng-template>

<!-- LÖSCHEN -->
<ng-template #dlggameremove let-modal>
  <div class="modal-body" ngDraggable>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <i class="fas fa-times"></i>
    </button>
    <div class="container">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <p><strong>Sind Sie sich sicher, die Spielrunde <span class="text-primary">"{{gameNew.title}}"</span> zu
              löschen?</strong></p>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-6">
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-danger" ngbAutofocus (click)="modal.close('dlgremove')">Ja</button>
        </div>
        <div class="col-2">
          <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('close')">Nein</button> -->
        </div>
        <div class="col-2">
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- PUSH SUBSCRIBE -->
<ng-template #dlgpussubsribe let-modal>
  <div class="modal-body bg-outline-dark" ngDraggable>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <i class="fas fa-times"></i>
    </button>
    <div class="container">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <h3>Möchten Sie Benachritigen von der Gruppe erhalten, Errinerungen usw.?</h3>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <button type="button" class="btn btn-danger" ngbAutofocus (click)="modal.close('dlgpussubsribe')">Ja</button>
        <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('dlgclose')">Nein</button> -->
      </div>
    </div>
  </div>
</ng-template>


<app-a-footer></app-a-footer>


<ng-template #dlggrouprem let-modal let-c="close" let-d="dismiss">
  <div class="modal-body bg-outline-dark" ngDraggable>
    <div class="container">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
        <i class="fas fa-times"></i>
      </button>
      <p><strong>Sind Sie sich sicher, Gruppe <span class="text-primary">"{{group.title}}"</span>
          und alle zugehörigen Spielrunden zu löschen?</strong></p>
      <div class="row">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-outline-secondary" ngbAutofocus
                  (click)="modal.dismiss('dlgclose')">Nein</button>
          <button type="button" class="btn btn-danger" (click)="modal.close('ok')">Ja</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
