@charset "utf-8";
/* CSS Document */




.kalendu-edit-col-bg {
  position: absolute;
  width: 50px;
  right: 0;
  top: 0;
  z-index: 99;
  min-height: 90vh;
  overflow: hidden;
}

/* 
.kalendu-main-settings-button,
.kalendu-main-share-button {
  right: -40px;

}

.kalendu-main-share-button {
  top: 44px;
} */


/* SPIELGRUPPE */

.kalendu-main-button-spielrunden,
.kalendu-main-button-spieler {
  background-color: #cccccc;
  color: black;
  border-radius: 20px;
  border: none !important;
}




.kalendu-main-spielgruppe-mitglieder-buchstabe {
  background-color: #8f99cd;
  font-size: 1.3rem;
  vertical-align: middle;
  height: 70px;
  width: 70px;
  line-height: 70px;
  /* text-aling: center; */
  border-radius: 50%;
  /* padding-left: 30px; */
  z-index: 200;
  top: -4px;
  left: 0px;
  color: white;
}

.kalendu-main-spielgruppe-mitglieder-name {
  background-color: #e6e6e6;
  border-radius: 40px 20px 20px 40px;
  padding: 0.5rem 0 0.5rem 72px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  /* width: 100%; */
  /* margin-left: 20px; */
  width: calc(100% - 20px);
}

.kalendu-main-spielgruppe-mitglieder-name span {
  display: block;
}

.kalendu-main-spielgruppe-mitglieder-buchstabe-captain {
  background-color: #fec382;
  font-size: 1.3rem;
  vertical-align: middle;
  height: 70px;
  width: 70px;
  line-height: 70px;
  /* text-aling: center; */
  border-radius: 50%;
  /* padding-left: 30px; */
  z-index: 200;
  top: -4px;
  left: 0px;
  color: white;
}

.kalendu-main-spielgruppe-mitglieder-captain {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 209, 209, 1);
  -moz-box-shadow: 3px 3px 3px 0px rgba(209, 209, 209, 1);
  box-shadow: 3px 3px 3px 0px rgba(209, 209, 209, 1);
  background-color: white;
  border: 1px solid #d1d1d1;
  top: -10px;
  right: 30px;

}

.kalendu-main-spielgruppe-mitglieder-captain span {
  text-transform: uppercase;
  font-size: 0.6rem;
  color: black;
  display: block;
  text-align: center;
}

/* SPIELORT */


.kalendu-main-gruppe-bild {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 80px;
}

.kalendu-main-gruppe-bild img {
  /* position: absolute; */
  /* border-radius: 50%; */
  /* height: 60px; */
  /* top: 0px; */
  /* right: 0px; */
  /* z-index: 10; */
  height: 100%;
}

.kalendu-main-gruppe-bild img.admin {
  cursor: pointer;
}

.kalendu-main-gruppe-bild img.admin:hover {
  filter: blur(2px);
}

.kalendu-main-gruppe-bild button {
  position: absolute;
  display: none;
}

.kalendu-main-gruppe-bild:hover button {
  display: block;
}

.kalendu-main-notification-circle {
  right: 10px;
  top: 20px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 209, 209, 1);
  -moz-box-shadow: 3px 3px 3px 0px rgba(209, 209, 209, 1);
  box-shadow: 3px 3px 3px 0px rgba(209, 209, 209, 1);
  background-color: white;
  border: 1px solid #d1d1d1;
  line-height: 55px;
  padding-left: 14px;
}

.kalendu-main-notification-circle-text {
  display: block;
  font-size: 1.8rem;
}

.kalendu-dlg-content-label.ngb-tp-date {
  padding: .375rem 0;
  margin-bottom: 0;
  border: 1px solid transparent;
}


/* special */
.kalendu-main-button-block {
  height: 34px;
}


::ng-deep .kalendu-tooltip .tooltip-inner {
  background-color: #8e8e8e;
}

::ng-deep .kalendu-tooltip .arrow::before {
  border-left-color: #8e8e8e;
}
