<app-a-header *ngIf="!loading" [group]="group" [gid]="gid">
</app-a-header>

<ngx-spinner bdColor="#c1c1c1" size="large" color="#fff" type="ball-scale-multiple">
</ngx-spinner>

<main role="main" class="flex-shrink-0 kalendu-main-section pb-2 mb-3" *ngIf="!loading">
  <div class="container px-0">
    <div class="container px-0">
      <div class="d-flex flex-row position-relative">
        <div class="container px-0">

          <div class="kalendu-main-header-block">
            <div class="container">
              <div class="position-relative mb-4">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb kalendu-breadcrumb  px-0">
                    <li class="breadcrumb-item active" aria-current="page">
                      Orte
                    </li>
                    <li class="breadcrumb-item">
                      <a [routerLink]="['/places']">Spielstätten2</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a [routerLink]="['/groups',{place_id: place.id}]">{{place.title}}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      {{group.title}}
                    </li>
                  </ol>
                </nav>
                <div class="container kalendu-main-headline px-0">
                  <!-- <i class="far fa-minus-square"></i> -->
                  <h1>{{group.title}}</h1>
                </div>
                <div class="kalendu-main-notification-circle position-absolute">
                  <!-- <span class="kalendu-main-notification-circle-text"><i class="fas fa-bell"></i></span> -->
                  <a class="kalendu-main-notification-circle-text" (click)="onSubscribeToNotifications(t1)"
                     placement="left" triggers="manual" [ngbTooltip]="tipContent" #t1="ngbTooltip">
                    <i class="fas fa-bell"></i>
                  </a>
                </div>

                <!-- EDIT BAR -->
                <div ngbDropdown placement="bottom-right" class="kalendu-main-edit-button mt-1"
                     *ngIf="group.aowner === gid">
                  <i class="fas fa-ellipsis-h" ngbDropdownToggle></i>
                  <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <div class="dropdown-item" (click)="onLockGroup()" (mouseover)="ilock='lock-open'"
                         (mouseout)="ilock='lock'" *ngIf="group.aowner === gid && group.status === 5">
                      <i class="fas fa-{{ilock}}" class="icon-text"></i>
                      <span>&nbsp;Offen für alle</span>
                    </div>
                    <div class="dropdown-item" (click)="onLockGroup()" (mouseover)="ilockopen='lock'"
                         (mouseout)="ilockopen='lock-open'" *ngIf="group.aowner === gid && group.status === 1">
                      <i class="fas fa-{{ilockopen}}" class="icon-text"></i>
                      <span>&nbsp;Privat</span>
                    </div>
                    <a class="dropdown-item" *ngIf="group.aowner === gid" (click)="onGroupRemDlg(dlggrouprem)">
                      <i class="fas fa-trash"></i>
                      <span>&nbsp;Gruppe löschen</span>
                    </a>
                    <a class="dropdown-item" *ngIf="group.aowner === gid" (click)="onGroupEditDlg(dlggroupedit)">
                      <i class="fas fa-pencil-alt"></i>
                      <span>&nbsp;Gruppe bearbeiten</span>
                    </a>
                  </div>
                </div>
                <a class="kalendu-main-edit-button mt-5" (click)="onSendNotifications(t2)" *ngIf="group.aowner === gid"
                   placement="left" triggers="manual" [ngbTooltip]="tipContent" #t2="ngbTooltip">
                  <i class="fas fa-paper-plane"></i>
                </a>
                <!-- /EDIT BAR -->
                <div class="d-flex flex-row kalendu-main-section-info">
                  <div class="col-4 kalendu-section-info-label px-0">Sportart:</div>
                  <div class="col-8 kalendu-section-info-data px-0">{{group.sport}}</div>
                </div>
                <div class="d-flex flex-row kalendu-main-section-info">
                  <div class="col-4 kalendu-section-info-label px-0">Spielort:</div>
                  <div class="col-8 kalendu-section-info-data px-0">{{place.city}}, {{place.title}}</div>
                </div>
                <div class="d-flex flex-row kalendu-main-section-info px-0">
                  <div class="col-4 kalendu-section-info-label px-0">Info:</div>
                  <div class="col-8 kalendu-section-info-data px-0">{{place.info}}</div>
                </div>
                <div class="d-flex flex-row kalendu-mains-ctas justify-content-center my-3"
                     *ngIf="group.aowner === gid">
                  <a class="btn kalendu-main-button-spielrunden mr-2 px-4" (click)="switchGM(1)" *ngIf="switchgm===2"
                     @fadeGM>Spielrunden</a>
                  <a class="btn kalendu-main-button-spieler ml-2 px-4" (click)="switchGM(2)" *ngIf="switchgm===1"
                     @fadeGM>Mitglieder</a>
                </div>
              </div>
            </div>
          </div>

          <div class="kalendu-main-header-block mt-4">
            <div class="container">
              <ng-template #tipContent let-text="text" placement="left">{{text}}</ng-template>
              <!-- /Spielrunden Elements -->
              <div class="position-relative mb-2 kalendu-main-button-block">
                <div class="kalendu-main-gruppe-bild" *ngIf="group.aowner === gid">
                  <img src="assets/images/fallback-gruppe.jpg" [ngClass]="{'admin': group.aowner === gid}"
                       *ngIf="!group.avatar" (click)="logoInput.click()">
                  <img [src]="group.avatar" [ngClass]="{'admin': group.aowner === gid}" *ngIf="group.avatar"
                       (click)="logoInput.click()">
                  <!-- <div class="overlay"></div> -->
                  <button type="button" class="close" aria-label="Close" (click)="onImageRem()"
                          *ngIf="group.aowner === gid && group.avatar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <input type="file" class="file-hide" (change)="onImageAdd($event)" #logoInput>
                </div>
                <div class="kalendu-main-gruppe-bild" *ngIf="group.aowner !== gid">
                  <img src="assets/images/fallback-gruppe.jpg" *ngIf="!group.avatar">
                  <img [src]="group.avatar" *ngIf="group.avatar">
                </div>
                <!-- <h2>{{group.title}}</h2> -->
                <!-- EDIT BAR -->
              </div>
              <!-- /EDIT BAR -->

              <div class="position-relative mb-4" *ngIf="switchgm===1" @fadeGM>
                <h2>Spielrunden</h2>
                <!-- EDIT BAR -->
                <div class="kalendu-main-edit-button" (click)="onGameNewDlg(dlggamenew)"
                     *ngIf="group.aowner === gid && games.length">
                  <i class="fas fa-plus"></i>
                </div>
                <!-- /EDIT BAR -->
              </div>
              <!-- Spielrunden Elements -->
              <div class="d-flex justify-content-center" *ngIf="switchgm===1 && !games.length">
                <div class="kalendu-main-notification-circle" *ngIf="group.aowner === gid">
                  <a class="kalendu-main-notification-circle-text" (click)="onGameNewDlg(dlggamenew)">
                    <i class="fas fa-plus"></i>
                  </a>
                </div>
              </div>
              <ng-container *ngIf="switchgm===1">
                <div *ngFor="let game of games" @fadeGM>
                  <app-game-list-item [game]="game" [group]="group" [place]="place" [gid]="gid"
                                      (remove)='onGameRemoveDlg($event)' (play)='onPlayGame($event)'
                                      (playmember)='onGameMemberNewDlg($event, dlgzusage)'>
                  </app-game-list-item>
                </div>
              </ng-container>


              <ng-container *ngIf="group.aowner === gid">
                <div class="position-relative mb-4" *ngIf="switchgm===2" @fadeGM>
                  <h2>Mitglieder</h2>
                  <!-- EDIT BAR -->
                  <div class="kalendu-main-edit-button" (click)="onGroupEditDlg(dlggroupmembernew)">
                    <i class="fas fa-plus"></i>
                  </div>
                  <!-- /EDIT BAR -->
                </div>
                <!-- Mitglieder Elements -->
                <div class="kalendu-main-spielgruppe-mitglieder align-items-center mb-3 position-relative"
                     *ngIf="switchgm===2" @fadeGM>
                  <div
                       class="kalendu-main-spielgruppe-mitglieder-buchstabe-captain position-absolute d-flex justify-content-center align-items-center">
                    <span>{{nn(group.owner) | uppercase}}</span>
                  </div>
                  <div class="kalendu-main-spielgruppe-mitglieder-captain position-absolute text-center">
                    <i class="fas fa-crown"></i>
                    <span>Capt</span>
                  </div>
                  <div class="kalendu-main-spielgruppe-mitglieder-name">
                    <span>{{nnn(group.owner) |titlecase}}</span>
                    <span><i class="far fa-envelope"></i>&nbsp;{{group.owner}}</span>
                  </div>
                </div>
                <ng-container *ngIf="switchgm===2">
                  <div class="kalendu-main-spielgruppe-mitglieder align-items-center mb-3 position-relative"
                       *ngFor="let m of group.member" @fadeGM>
                    <div
                         class="kalendu-main-spielgruppe-mitglieder-buchstabe position-absolute d-flex justify-content-center align-items-center">
                      <span>{{nn(m) | uppercase}}</span>
                    </div>
                    <div class="kalendu-main-spielgruppe-mitglieder-name">
                      <span>{{nnn(m) |titlecase}}</span>
                      <span><i class="far fa-envelope"></i>&nbsp;{{m}}</span>
                    </div>
                    <!-- EDIT BAR -->
                    <a class="kalendu-main-edit-button kalendu-main-edit-button1" (click)="onGroupMemberRem(m)">
                      <i class="fas fa-trash text-red"></i>
                    </a>
                  </div>
                </ng-container>
              </ng-container>

            </div>

          </div>



        </div>
        <div class="kalendu-edit-col">
        </div>
        <!-- <div class="kalendu-edit-col kalendu-edit-col-bg">
        </div> -->
      </div>
    </div>
  </div>
</main>



<!-- DIALOG -->
<!-- ******************************** -->
<!-- SPIELRUNDE NEU -->
<ng-template #dlggamenew let-modal>
  <div class="modal-body" ngDraggable [handle]="ngd">
    <button type="button" class="close" (click)="modal.dismiss('close')">
      <i class="fas fa-times"></i>
    </button>
    <div class="form-row">
      <div class="col-12">
        <h3 #ngd>Neue Runde?</h3>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Name" autofocus [(ngModel)]="gameNew.title">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-6">
        <label class="kalendu-dlg-content-label">Wann spielen wir?</label>
        <input class="form-control" placeholder="dd.mm.yyyy" (focus)="d1.open()" [(ngModel)]="gameNew.dt" ngbDatepicker
               #d1="ngbDatepicker">
      </div>
      <div class="form-group col-6">
        <ngb-timepicker [(ngModel)]="gameNew.dtt" [minuteStep]="15"></ngb-timepicker>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-6">
        <label class="kalendu-dlg-content-label">Deadline:</label>
        <input class="form-control" placeholder="dd.mm.yyyy" (focus)="d2.open()" [(ngModel)]="gameNew.dd" ngbDatepicker
               #d2="ngbDatepicker">
      </div>
      <div class="form-group col-6">
        <ngb-timepicker [(ngModel)]="gameNew.ddt" [minuteStep]="15"></ngb-timepicker>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-6">
        <div class="custom-control custom-checkbox" (click)="gamenewrepeatcb()">
          <input type="checkbox" class="custom-control-input" [(ngModel)]="gamenewrepeat">
          <label class="custom-control-label">wöchentlich wiederholen?</label>
        </div>
      </div>
      <div class="col-6">
        <div class="input-group" *ngIf="gamenewrepeat" @fadeGM>
          <span class="input-group-btn">
            <button type="button" class="btn btn-danger btn-number" (click)="gamenewrepeatnrpm(-1)">
                <i class="fas fa-minus"></i>
            </button>
          </span>
          <input type="number" class="form-control input-number" min="1" max="53" [(ngModel)]="gamenewrepeatnr">
          <span class="input-group-btn">
            <button type="button" class="btn btn-success btn-number" (click)="gamenewrepeatnrpm(1)">
              <i class="fas fa-plus"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <button type="button" class="btn btn-danger" (click)="modal.close('oknew')">Ok</button>
      </div>
    </div>
  </div>
</ng-template>

<!-- LÖSCHEN -->
<ng-template #dlggameremove let-modal>
  <div class="modal-body" ngDraggable [handle]="ngd">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <i class="fas fa-times"></i>
    </button>
    <div class="container" #ngd>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <p><strong>Bist du sicher, die Spielrunde <span class="text-primary">"{{gameNew.title}}"</span> zu
              löschen?</strong></p>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-6">
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-danger" (click)="modal.close('dlgremove')">Ja</button>
        </div>
        <div class="col-2">
          <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('close')">Nein</button> -->
        </div>
        <div class="col-2">
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- PUSH SUBSCRIBE -->
<ng-template #dlgpussubsribe let-modal>
  <div class="modal-body bg-outline-dark" ngDraggable [handle]="ngd">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <i class="fas fa-times"></i>
    </button>
    <div class="container" #ngd>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <h3>Möchten Sie Benachritigen von der Gruppe erhalten, Errinerungen usw.?</h3>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <button type="button" class="btn btn-danger" (click)="modal.close('dlgpussubsribe')">Ja</button>
        <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('dlgclose')">Nein</button> -->
      </div>
    </div>
  </div>
</ng-template>


<app-a-footer></app-a-footer>


<ng-template #dlggrouprem let-modal let-c="close" let-d="dismiss">
  <div class="modal-body bg-outline-dark" ngDraggable [handle]="ngd">
    <div class="container" #ngd>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
        <i class="fas fa-times"></i>
      </button>
      <p><strong>Bist du sicher, die Gruppe <span class="text-primary">"{{group.title}}"</span>
          und alle zugehörigen Spielrunden zu löschen?</strong></p>
      <div class="row">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-danger" (click)="modal.close('ok')">Ja</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- DLG GROUP EDIT -->
<ng-template #dlggroupedit let-modal let-c="close" let-d="dismiss">
  <div class="modal-body bg-outline-dark" ngDraggable [handle]="ngd">
    <button type="button" class="close" (click)="modal.dismiss('close')">
      <i class="fas fa-times"></i>
    </button>
    <form class="text-left" [formGroup]="frmg">
      <div class="form-group font-weight-bold" #ngd>
        <label>Ort: {{place.title}}</label>
      </div>
      <div class="form-group">
        <label>Name der Gruppe:</label>
        <input type="text" class="form-control" formControlName="title" autofocus
               [ngClass]="{ 'is-invalid': fg.title.errors, 'is-valid': !fg.title.errors }">
        <div *ngIf="fg.title.errors" class="invalid-feedback">
          <div *ngIf="fg.title.errors.required">Bitte gib der Gruppe einen Namen.</div>
        </div>
      </div>
      <div class="form-group">
        <label>Deine E-Mail-Adresse:</label>
        <input type="text" class="form-control" placeholder="max.mustermann@mail.de" formControlName="owner"
               [ngClass]="{ 'is-invalid': fg.owner.errors, 'is-valid': !fg.owner.errors }">
        <div *ngIf="fg.owner.errors" class="invalid-feedback">
          <div *ngIf="fg.owner.errors.required">Bitte trag deine E-Mail-Adresse ein.</div>
          <div *ngIf="fg.owner.errors.email">Die E-Mail-Adresse ist ungültig.</div>
        </div>
      </div>
      <div class="form-group">
        <label>Mitglieder entfernen?</label>
        <a class="btn btn-danger btn-round" (click)="onGroupEditMemberDlg(dlggroupeditmember)">
          <i class="fas fa-user-minus"></i>
        </a>
        <tag-input formControlName="membercurr" [secondaryPlaceholder]="'max.mustermann@mail.de'"
                   [placeholder]="'Email'" [errorMessages]="memberErrorMessages" [validators]="memberValidators"
                   [theme]="'kalendu'" [modelAsStrings]='true' [hideForm]='true' *ngIf="groupMemberEdit"></tag-input>
      </div>
      <div class="form-group">
        <label>Neue Mitglieder einladen?</label>
        <tag-input formControlName="member" [secondaryPlaceholder]="'max.mustermann@mail.de'" [placeholder]="'Email'"
                   [errorMessages]="memberErrorMessages" [validators]="memberValidators" [addOnPaste]='true'
                   [theme]="'kalendu'" [modelAsStrings]='true'></tag-input>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <label>Min:</label>
          <input type="text" class="form-control input-number" value="1" [min]="1" formControlName="min"
                 [ngClass]="{ 'is-invalid': fg.min.errors, 'is-valid': !fg.min.errors }">
          <div *ngIf="fg.min.errors" class="invalid-feedback">
            <div *ngIf="fg.min.errors.required">Bitte gib ein Minimum ein.</div>
            <div *ngIf="fg.min.errors.min">Der Wert muss größer als Null sein.</div>
          </div>
        </div>
        <div class="form-group col-6">
          <label>Max:</label>
          <input type="text" class="form-control input-number" value="2" [min]="2" formControlName="max"
                 [ngClass]="{ 'is-invalid': fg.max.errors, 'is-valid': !fg.max.errors }">
          <div *ngIf="fg.max.errors" class="invalid-feedback">
            <div *ngIf="fg.max.errors.required">Bitte gib ein Maximum ein.</div>
            <div *ngIf="fg.max.errors.min">Der Wert muss größer als Null sein.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6">
          <div class="custom-control custom-checkbox" (click)="ballcb()">
            <input type="checkbox" class="custom-control-input" formControlName="ball">
            <label class="custom-control-label">Ball nötig?</label>
          </div>
        </div>
        <div class="col-6">
          <div class="custom-control custom-checkbox" (click)="camisolecb()">
            <input type="checkbox" class="custom-control-input" formControlName="camisole">
            <label class="custom-control-label">Leibchen nötig?</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6">
          <div class="custom-control custom-checkbox" (click)="statuscb()">
            <input type="checkbox" class="custom-control-input" formControlName="status">
            <label class="custom-control-label">Privat?</label>
          </div>
        </div>
        <div class="col-6">
          <div class="custom-control custom-checkbox" (click)="paycb()">
            <input type="checkbox" class="custom-control-input" formControlName="pay">
            <label class="custom-control-label">Kosten?</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <label for="inputBezeichnung">Sportart</label>
          <input id="inputBezeichnung" type="text" class="form-control" placeholder="Sportart" formControlName="sport"
                 [ngbTypeahead]="tasportsearch" (focus)="tasportFocus$.next($event.target.value)"
                 (click)="tasportClick$.next($event.target.value, tasport)" #tasport="ngbTypeahead">
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-secondary" (click)="onGroupEditDlgOk(c, true)" *ngIf="fg.member.value">
          Speichern & Link senden
        </button>
      </div>
      <div class="col-6 text-right">
        <button type="button" class="btn btn-secondary" (click)="onGroupEditDlgOk(c, false)">
          Nur speichern
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- DLG GROUP MEMBER NEW -->
<ng-template #dlggroupmembernew let-modal let-c="close" let-d="dismiss">
  <div class="modal-body bg-outline-dark" ngDraggable [handle]="ngd">
    <button type="button" class="close" (click)="modal.dismiss('close')">
      <i class="fas fa-times"></i>
    </button>
    <form class="text-left" [formGroup]="frmg">
      <div class="form-group" #ngd>
        <label>Name der Gruppe: {{group.title}}</label>
      </div>
      <div class="form-group">
        <label>Neue Mitglieder einladen?</label>
        <tag-input formControlName="member" [secondaryPlaceholder]="'max.mustermann@mail.de'" [placeholder]="'Email'"
                   [errorMessages]="memberErrorMessages" [validators]="memberValidators" [addOnPaste]='true'
                   [theme]="'kalendu'" [modelAsStrings]='true'></tag-input>
      </div>
    </form>
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-secondary" (click)="onGroupEditDlgOk(c, true)" *ngIf="fg.member.value">
          Speichern & Link senden
        </button>
      </div>
      <div class="col-6 text-right">
        <button type="button" class="btn btn-secondary" (click)="onGroupEditDlgOk(c, false)">
          Nur speichern
        </button>
      </div>
    </div>
  </div>
</ng-template>



<!-- DIALOG -->
<!-- ******************************** -->
<!-- ZUSAGE -->
<ng-template #dlgzusage let-modal>
  <div class="modal-body kalendu-dlg-content-zusage" ngDraggable [handle]="ngd">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <i class="fas fa-times"></i>
    </button>
    <div class="row">
      <div class="col-12">
        <h5 #ngd>Wie heißt du?</h5>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Name" [(ngModel)]="memberNew.nick"
                 (keyup.enter)="modal.close('ok')">
        </div>
      </div>
    </div>
    <div class="row mb-2" *ngIf="game.group.camisole || game.group.ball">
      <div class="col-6 text-center" *ngIf="game.group.ball">
        <div class="btn-group btn-group-toggle">
          <label [ngClass]="{'btn btn-sm': true, 'kalendu-main-button-absagen': !memberNew.ball, 'kalendu-main-button-zusagen': memberNew.ball}"
                 ngbButtonLabel>
            <i [ngClass]="{'fas': true, 'fa-check': memberNew.ball, 'fa-times': !memberNew.ball}"></i>
            <input type="checkbox" ngbButton [(ngModel)]="memberNew.ball">&nbsp;
            <span *ngIf="memberNew.ball">Ich bringe einen Ball mit!</span>
            <span *ngIf="!memberNew.ball">Bringst du einen Ball mit?</span>
          </label>
        </div>
      </div>
      <div class="col-6 text-center" *ngIf="game.group.camisole">
        <div class="btn-group btn-group-toggle">
          <label [ngClass]="{'btn btn-sm': true, 'kalendu-main-button-absagen': !memberNew.camisole, 'kalendu-main-button-zusagen': memberNew.camisole}"
                 ngbButtonLabel>
            <i [ngClass]="{'fas': true, 'fa-check': memberNew.camisole, 'fa-times': !memberNew.camisole}"></i>
            <input type="checkbox" ngbButton [(ngModel)]="memberNew.camisole">
            &nbsp;
            <span *ngIf="memberNew.camisole">Ich bringe Leibchen mit!</span>
            <span *ngIf="!memberNew.camisole">Bringst du Leibchen mit?</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-12 text-center">
        <a class="btn btn-sm kalendu-main-button-zusagen px-4" (click)="modal.close('ok')">Zusagen</a>
        &nbsp;
      </div>
    </div>
  </div>
</ng-template>

<!-- ZUSAGE DOPPELT -->
<ng-template #dlgzusagedoppelt let-modal>
  <div class="modal-body kalendu-dlg-content-zusage" ngDraggable [handle]="ngd">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <i class="fas fa-times"></i>
    </button>
    <div class="row">
      <div class="col-12 text-center">
        <label class="text-red" #ngd>Ihre Name ist schon zugesagt oder abgesagt</label>
      </div>
    </div>
  </div>
</ng-template>
