/* You can add global styles to this file, and also import other style files */

@charset "utf-8";

/* CSS Document */


/* GLOBAL CSS */

html,
body {
  width: 100% !important;
  height: 100% !important;
}

.card-title {
  margin-bottom: 0px !important;
}

h1 {
  font-size: 20px !important;
}

h2 {
  font-size: 18px !important;
}

h6 {
  text-transform: capitalize !important;
  color: #3EA2A2 !important;
}

.btn {
  cursor: pointer;
}

.btn-inactive {
  background-color: #e6e6e6 !important;
}

.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.file-hide {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}


.kalendu-main-section {
  /* padding-top: 57px; */
  padding-top: 8vh;
}

.kalendu-main-item {
  background-color: #e6e6e6;
  border-bottom-right-radius: 20px;
  padding: 0 px;
  z-index: 400;
  margin-bottom: 3rem;
  cursor: pointer;
}


.kalendu-main-top-info {
  color: white;
  background-color: #3b928f;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.kalendu-main-top-info2 {
  color: white;
  background-color: #ED1A43;
  text-transform: uppercase;
  font-size: 0.9rem;
}


.kalendu-main-bild {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.kalendu-main-bild img {
  border-radius: 50%;
  height: 100px;
}

.kalendu-main-infos {
  font-size: 0.9rem;
}

.kalendu-main-infos-status {
  color: #3b928f;
}


.kalendu-main-headline {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #3b928f;
}

/*  */
.kalendu-main-section {
  padding-top: 57px;
}

.kalendu-edit-col {
  width: 50px;
  background-color: #8e8e8e;
  min-height: 88vh;
}

.pointer,
.kalendu-main-edit-button,
.kalendu-main-edit-button2,
.kalendu-main-edit-button3,
.kalendu-main-edit-button3,
.kalendu-main-spielrunde-button,
.kalendu-main-notification-circle {
  cursor: pointer;
}

.kalendu-main-edit-button,
.kalendu-main-settings-button,
.kalendu-main-share-button {
  position: absolute;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  color: black;
  padding-bottom: 10px;
  padding-left: 10px;
  line-height: 34px;
  background-color: white;
  z-index: 300;
  top: 0px;
  right: -54px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(82, 82, 82, 1);
  -moz-box-shadow: 3px 3px 3px 0px rgba(82, 82, 82, 1);
  box-shadow: 3px 3px 3px 0px rgba(82, 82, 82, 1);
}

.kalendu-main-edit-button1,
.kalendu-main-settings-button1,
.kalendu-main-share-button1 {
  top: 0px;
  right: -54px;
}

.kalendu-main-edit-button2,
.kalendu-main-settings-button2,
.kalendu-main-share-button2 {
  top: 40px;
  right: -54px;
}

.kalendu-main-edit-button3,
.kalendu-main-settings-button3,
.kalendu-main-share-button3 {
  top: 80px;
  right: -54px;
}

.kalendu-main-edit-button4,
.kalendu-main-settings-button4,
.kalendu-main-share-button4 {
  top: 120px;
  right: -54px;
}


.kalendu-main-button-zusagen {
  background-color: #13B069;
  border-radius: 20px;
  border: none !important;
  color: #fff !important;
}

.kalendu-main-button-absagen {
  background-color: #ED1A43;
  border-radius: 20px;
  border: none !important;
  color: #fff !important;
}

@media screen and (max-width:320px) {

  .kalendu-main-edit-button,
  .kalendu-main-settings-button,
  .kalendu-main-share-button {
    height: 30px;
    width: 30px;
    right: -44px;
    padding-left: 7px;
    line-height: 30px;
  }

  .kalendu-main-settings-button,
  .kalendu-main-share-button {
    right: -36px;
  }
}

.kalendu-main-info-bar {
  background-color: #f6f6f6;
}

/*  */

.breadcrumb {
  background-color: white !important;
  margin-bottom: 0px !important;
  padding-top: 0.25rem !important;
}

.kalendu-breadcrumb {
  font-size: 0.6rem !important;
}

.modal-content {
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 16px; */
  box-shadow: none;
  background-color: transparent;
  border: none;
  animation-name: modal-content;
  animation-duration: 0.5s;
}

@keyframes modal-content {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1)
  }
}

.modal-content .ng-draggable {
  cursor: move;
}

.modal-content .modal-body {
  background-color: #fff;
  border-radius: 1rem;
}

.modal-content .modal-body button.close {
  position: absolute;
  color: #adb5bd;
  background: #fff;
  width: 2rem;
  height: 2rem;
  right: -0.75rem;
  top: -1rem;
  border-radius: 100%;
  opacity: 1;
  line-height: 1.15;
  font-size: 100%;
  outline: none;
}

.modal-content .modal-body button.close:hover {
  /* background-color: #6c757d; */
  background-color: #ccc;
  opacity: 1;
}

.modal-content .modal-body button.close i {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.text-red {
  color: #ED1A43;
}

.text-green {
  color: #13B069;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  cursor: pointer;
}



/* body {
    min-height: 25rem;
    padding-top: 4.5rem;
}

.path {
    font-size: 0.7rem;
}

.btn-round {
    cursor: pointer;
}

.link p {
    cursor: pointer;
    color: #0056b3;
} */
