/* You can add global styles to this file, and also import other style files */

@charset "utf-8";

/* CSS Document */


/* GLOBAL CSS */

html,
body {
  width: 100% !important;
  height: 100% !important;
}

.card-title {
  margin-bottom: 0px !important;
}

h1 {
  font-size: 20px !important;
}

h2 {
  font-size: 18px !important;
}

h6 {
  text-transform: capitalize !important;
  color: #3EA2A2 !important;
}

.btn {
  cursor: pointer;
}

.file-hide {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.breadcrumb {
  background-color: white !important;
  margin-bottom: 0px !important;
  padding-top: 0.25rem !important;
}

.kalendu-breadcrumb {
  font-size: 0.6rem !important;
}

.modal-content {
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 16px; */
  box-shadow: none;
  background-color: transparent;
  border: none;
  animation-name: modal-content;
  animation-duration: 0.5s;
}

@keyframes modal-content {
  0%   {transform: scale(0.5)}
  100% {transform: scale(1)}
}

.modal-content .ng-draggable {
  cursor: move;
}

.modal-content .modal-body {
  background-color: #fff;
  border-radius: 1rem;
}

.modal-content .modal-body button.close {
  position: absolute;
  color: #adb5bd;
  background: #fff;
  width: 2rem;
  height: 2rem;
  right: -0.75rem;
  top: -1rem;
  border-radius: 100%;
  opacity: 1;
  line-height: 1.15;
  font-size: 100%;
}

.modal-content .modal-body button.close:hover {
  background-color: #6c757d;
  opacity: 1;
}

.modal-content .modal-body button.close i {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.kalendu-main-section {
  padding-top: 57px;
}

.pointer,
.kalendu-main-edit-button,
.kalendu-main-edit-button2,
.kalendu-main-edit-button3,
.kalendu-main-edit-button3,
.kalendu-main-spielrunde-button,
.kalendu-main-notification-circle {
  cursor: pointer;
}

.text-red {
  color: #ED1A43;
}

.text-green {
  color: #13B069;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  cursor: pointer;
}



/* body {
    min-height: 25rem;
    padding-top: 4.5rem;
}

.path {
    font-size: 0.7rem;
}

.btn-round {
    cursor: pointer;
}

.link p {
    cursor: pointer;
    color: #0056b3;
} */
