<div class="row">
  <div class="col-10">
    <div class="jumbotron">
      <div class="row no-gutters">
        <div class="col-12">
          <p class="bg-info text-left text-uppercase">Wir suchen dich</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-10">
          <a class="link" (click)="onNavigatePublic(group)">
            <p class="text-left text-uppercase">{{group.title}}</p>
          </a>
          <p class="text-left font-italic">Freizeitmanschaft</p>
          <p class="text-left ">Niveu: gemischt</p>
          <p class="text-left ">Sportarten: </p>
        </div>
        <div class="col-2">
          <div class="d-flex flex-column align-items-center btn-round" *ngIf="group.status === 5"
               (click)="onNavigateAdmin(group)">
            <i class="fas fa-{{ilock}}" class="icon-text"></i>
            <div class="">PRIVAT</div>
          </div>
          <div class="d-flex flex-column align-items-center btn-round" *ngIf="group.status === 1"
               (click)="onNavigateAdmin(group)">
            <i class="fas fa-{{ilockopen}}" class="icon-text"></i>
            <div class="">PUBLIC</div>
          </div>
          <div class="d-flex flex-column align-items-center btn-round" (click)="onNavigateMember(group)">
            <i class="fas fa-euro-sign icon-text"></i>
            <div class="">KOSTET</div>
          </div>
          <div class="d-flex flex-column align-items-center btn-round" *ngIf="group.status === 5"
               (click)="onMailerSendRequestDlg(group)">
            <i class="fas fa-envelope icon-only"></i>
            <div class="">Anfrage</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">
    <!-- <div class="d-flex flex-column align-items-center justify-content-center btn-round btn-round-grey" (click)="onMailerSendRequestDlg(group)">
            <i class="fas fa-envelope"></i>
        </div> -->
  </div>
</div>
