<app-a-header  *ngIf="!loading" [group]="game.group" [gid]="gid">
</app-a-header>

<ngx-spinner bdColor="#c1c1c1" size="large" color="#fff" type="ball-scale-multiple">
</ngx-spinner>


<!-- Main -->
<main role="main" class="flex-shrink-0 kalendu-main-section pb-2 mb-3" *ngIf="!loading" @fadeGM>
  <div class="container px-0">
    <div class="container px-0">
      <div class="d-flex flex-row">
        <div class="container px-0">

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb kalendu-breadcrumb px-0">
              <li class="breadcrumb-item active" aria-current="page">
                Orte
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/places']">Spielstätten</a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/groups',{place_id: game.place.id}]">{{game.place.title}}</a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/gamesg',{place_id: game.place.id, group_id: gid}]">{{game.group.title}}</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Spielrunde {{ game.dt | date:'dd.MM.yyyy' }}
              </li>
            </ol>
          </nav>

          <div class="container kalendu-main-headline">
            <h1>Spielrunde</h1>
          </div>

          <div class="d-flex flex-row my-3 position-relative" >
            <div class="col-4 kalendu-main-info-day">
              <i class="fas fa-calendar-alt"></i>
              <span class="kalendu-main-day" (click)="game.group.aowner === gid && onGameDTStartDlg(dlgdtstart)">
                {{ game.dt | date:'EE, dd.MM.yyyy' }}
              </span>
            </div>
            <div class="col-3 kalendu-main-info-time">
              <i class="fas fa-clock"></i>
              <span class="kalendu-main-time"
                    (click)="game.group.aowner === gid && onGameDTStartDlg(dlgdtstart)">{{ (game.dtt.hour | oo) + ':' + (game.dtt.minute | oo ) }}
                Uhr</span>
            </div> 
            <div class="col-5 kalendu-main-info-zusagen-absagen">
              <div class="d-flex flex-row mx-0">
                <div class="kalendu-main-circle-min text-center"
                     (click)="game.group.aowner === gid && onGameMinMaxDlg(dlgminmax)">
                  <span class="kalendu-main-circle-min-text">Min</span>
                  <span class="kalendu-main-circle-min-number">{{game.min}}</span>
                </div>
                <div class="kalendu-main-circle-max text-center ml-2"
                     (click)="game.group.aowner === gid && onGameMinMaxDlg(dlgminmax)">
                  <span class="kalendu-main-circle-max-text">Max</span>
                  <span class="kalendu-main-circle-max-number">{{game.max}}</span>
                </div>
              </div>
            </div>
            <div class="kalendu-main-settings-button" *ngIf="game.group.aowner === gid"
                 (click)="onGameSettsDlg(dlgsetts)">
              <i class="fas fa-sliders-h"></i>
            </div>
            <div class="kalendu-main-share-button" (click)="onSendNotifications()" *ngIf="game.group.aowner === gid">
              <i class="fas fa-share-alt"></i>
            </div>
          </div>


          <!-- DEADLINE -->
          <div class="d-flex container kalendu-main-info-bar py-2 pr-0 justify-content-between">
            <div class="col-3 kalendu-main-zusagen text-center mr-2">
              <div class="kalendu-main-zusagen-headline">
                Zusagen
              </div>
              <div class="kalendu-main-zusagen-number">
                <span class="kalendu-main-zusagen-red-number"
                      [ngClass]="{'kalendu-main-zusagen-red-number': true, 'kalendu-main-zusagen-green-number': membersa.length >= game.min}">{{membersa.length}}</span>
                / {{game.max}}
              </div>
            </div>
            <div class="col-3 kalendu-main-absagen text-center">
              <div class="kalendu-main-absagen-headline">
                Absagen
              </div>
              <div class="kalendu-main-absagen-number">
                {{membersd.length}}
              </div>
            </div>
            <div class="col-6 kalendu-main-deadline pl-2 pr-0">
              <span class="kalendu-main-deadline-headline"
                    (click)="game.group.aowner === gid && onGameDeadlineDlg(dlgdeadline)">Deadline</span><br>
              <span class="kalendu-main-deadline-red-number">{{dlDays}}</span> Tage<br>
              <span class="kalendu-main-deadline-red-number">{{dlHours}}</span> Stunden<br>
              <span class="kalendu-main-deadline-red-number">{{dlMinutes}}</span> Minuten<br>
              <span class="kalendu-main-deadline-icon" *ngIf="gameHasCamisole"><i class="fas fa-tshirt"></i></span>
              <span class="kalendu-main-deadline-check" *ngIf="gameHasCamisole"><i class="fas fa-check"></i></span>
              <span class="kalendu-main-deadline-icon" *ngIf="gameHasBall"><i class="fas fa-futbol"></i></span>
              <span class="kalendu-main-deadline-check" *ngIf="gameHasBall"><i class="fas fa-check"></i></span>
            </div>
          </div>

          <!-- BUTTON ZUSAGEN ABSAGEN -->
          <div class="d-flex flex-row kalendu-mains-ctas justify-content-center my-3">
            <a class="btn btn-primary kalendu-main-button-zusagen mr-2 px-4"
               (click)="onMemberNewDlg(dlgzusage)">Zusagen</a>
            <a class="btn btn-primary kalendu-main-button-absagen ml-2 px-4"
               (click)="onMemberDeclineDlg(dlgabsage)">Absagen</a>
          </div>


          <div class="d-flex flex-row kalendu-main-header-block">
            <!-- MEMBERS PLAY -->
            <div class="col-1 kalendu-main-header-block-titel text-center">
              Z<br>u<br>s<br>a<br>g<br>e<br>n
              <!-- <span>Zusagen</span> -->
            </div>
            <div class="col-11">
              <!-- Player Zusagen Elements -->
              <div class="kalendu-main-zusage align-items-center mb-3 position-relative"
                   *ngFor="let member of membersa; let i=index">
                <div
                     [ngClass]="{'kalendu-main-zusage-number position-absolute' : true, 'kalendu-main-zusage-number-2': (i+1)>9 }">
                  {{i+1}}
                </div>
                <div class="d-flex flex-row kalendu-main-zusage-green-bar w-100 justify-content-between">
                  <div class="kalendu-main-zusage-name">
                    {{member.nick}}
                  </div>
                  <div class="kalendu-main-zusage-icons">
                    <i class="fas fa-tshirt" *ngIf="member.camisole"></i>
                    <i class="fas fa-futbol" *ngIf="member.ball"></i>
                  </div>
                </div>
                <!-- (click)="onSelectedMemberDecline(member)" -->
                <div class="kalendu-main-edit-button" (click)="onSelectedMemberEditDlg(member, dlgzusage)">
                  <i class="fas fa-edit"></i>
                </div>
                <!-- MIN Separator -->
                <div class="p-0 mx-0 my-3 kalendu-separator" *ngIf="(i+1)===game.min">
                  <div class="kalendu-separator-line"></div>
                  <div class="kalendu-separator-min">Min</div>
                  <div class="kalendu-separator-max">Min</div>
                  <div class="kalendu-separator-triangle"></div>
                </div>
                <!-- MAX Separator -->
                <div class="p-0 mx-0 my-3 kalendu-separator" *ngIf="(i+1)===game.max">
                  <div class="kalendu-separator-line"></div>
                  <div class="kalendu-separator-min">Max</div>
                  <div class="kalendu-separator-max">Max</div>
                  <div class="kalendu-separator-triangle"></div>
                </div>
              </div>

              <div class="kalendu-main-frei align-items-center mb-3 position-relative"
                   *ngFor="let member of memberse; let i=index">
                <div
                     [ngClass]="{'kalendu-main-frei-number position-absolute' : true, 'kalendu-main-frei-number-2': (membersa.length+i+1)>9 }">
                  {{membersa.length+i+1}}
                </div>
                <div class="d-flex flex-row kalendu-main-frei-grey-bar w-100 justify-content-between"
                     (click)="onMemberNewDlg(dlgzusage)">
                  <div class="kalendu-main-frei-name">
                    Noch frei
                  </div>
                  <div class="kalendu-main-frei-icons">
                  </div>
                </div>
                <!-- MIN Separator -->
                <div class="p-0 mx-0 my-3 kalendu-separator" *ngIf="(membersa.length+i+1)===game.min">
                  <div class="kalendu-separator-line"></div>
                  <div class="kalendu-separator-min">Min</div>
                  <div class="kalendu-separator-max">Min</div>
                  <div class="kalendu-separator-triangle"></div>
                </div>
                <!-- MAX Separator -->
                <div class="p-0 mx-0 my-3 kalendu-separator" *ngIf="(membersa.length+i+1)===game.max">
                  <div class="kalendu-separator-line"></div>
                  <div class="kalendu-separator-min">Max</div>
                  <div class="kalendu-separator-max">Max</div>
                  <div class="kalendu-separator-triangle"></div>
                </div>
              </div>

            </div>
          </div>

          <!-- MEMBERS DECLINE -->
          <div class="d-flex flex-row kalendu-main-header-block mt-4" *ngIf="membersd.length">
            <div class="col-1 kalendu-main-header-block-titel text-center">
              A<br>b<br>s<br>a<br>g<br>e<br>n
            </div>
            <div class="col-11">
              <!-- Player Absagen Elements -->
              <div class="kalendu-main-frei align-items-center mb-3 position-relative"
                   *ngFor="let member of membersd; let i=index">
                <div
                     [ngClass]="{'kalendu-main-absage-number position-absolute' : true, 'kalendu-main-absage-number-2': (i+1)>9 }">
                  {{i+1}}
                </div>
                <div class="d-flex flex-row kalendu-main-absage-red-bar w-100 justify-content-between">
                  <div class="kalendu-main-absage-name">
                    {{member.nick}}
                  </div>
                  <div class="kalendu-main-absage-icons" *ngIf="member.comment">
                    <i class="fas fa-comment" placement="left" ngbPopover="{{member.comment}}"></i>
                  </div>
                </div>
                <div class="kalendu-main-edit-button" (click)="onSelectedMemberEditDlg(member,dlgzusage)">
                  <i class="fas fa-edit"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kalendu-edit-col">
        </div>

      </div>
    </div>
  </div>
</main>
<!-- /Main -->

<!-- DIALOG -->
<!-- ******************************** -->
<!-- ZUSAGE -->
<ng-template #dlgzusage let-modal>
  <!-- <div class="modal-header">
    <span class="dlg-title-zusage">ZUSAGE</span>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <i class="fas fa-times"></i>
    </button>
  </div> -->
  <div class="modal-body kalendu-dlg-content-zusage" ngDraggable [handle]="ngd">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <i class="fas fa-times"></i>
    </button>
    <div class="row">
      <div class="col-12">
        <h5 #ngd>Wie heißt du?</h5>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Name" [(ngModel)]="memberNew.nick"
                 [ngbTypeahead]="memberNickSearch" (keyup.enter)="modal.close('ok')">
        </div>
      </div>
    </div>
    <div class="row mb-2" *ngIf="game.group.camisole || game.group.ball">
      <div class="col-6 text-center" *ngIf="game.group.ball">
        <div class="btn-group btn-group-toggle">
          <label [ngClass]="{'btn btn-sm': true, 'kalendu-main-button-absagen': !memberNew.ball, 'kalendu-main-button-zusagen': memberNew.ball}"
                 ngbButtonLabel>
            <i [ngClass]="{'fas': true, 'fa-check': memberNew.ball, 'fa-times': !memberNew.ball}"></i>
            <input type="checkbox" ngbButton [(ngModel)]="memberNew.ball">&nbsp;
            <span *ngIf="memberNew.ball">Ich bringe einen Ball mit!</span>
            <span *ngIf="!memberNew.ball">Bringst du einen Ball mit?</span>
          </label>
        </div>
      </div>
      <div class="col-6 text-center" *ngIf="game.group.camisole">
        <div class="btn-group btn-group-toggle">
          <label [ngClass]="{'btn btn-sm': true, 'kalendu-main-button-absagen': !memberNew.camisole, 'kalendu-main-button-zusagen': memberNew.camisole}"
                 ngbButtonLabel>
            <i [ngClass]="{'fas': true, 'fa-check': memberNew.camisole, 'fa-times': !memberNew.camisole}"></i>
            <input type="checkbox" ngbButton [(ngModel)]="memberNew.camisole">
            &nbsp;
            <span *ngIf="memberNew.camisole">Ich bringe Leibchen mit!</span>
            <span *ngIf="!memberNew.camisole">Bringst du Leibchen mit?</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-12 text-center">
        <a class="btn btn-sm kalendu-main-button-zusagen px-4" (click)="modal.close('ok')">Zusagen</a>
        &nbsp;
        <a class="btn btn-sm kalendu-main-button-absagen px-4" *ngIf="memberDlg===2"
           (click)="modal.close('decline')">Absagen</a>
      </div>
    </div>
  </div>
</ng-template>


<!-- ABSAGE -->
<ng-template #dlgabsage let-modal>
  <div class="modal-body kalendu-dlg-content-absage" ngDraggable [handle]="ngd">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <i class="fas fa-times"></i>
    </button>
    <div class="container">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <h5 #ngd>Wie heißt du?</h5>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="memberNew.nick"
                   [ngbTypeahead]="memberNickSearch" (keyup.enter)="modal.close('ok')">
          </div>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <h5>Kommentar</h5>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Kommentar" [(ngModel)]="memberNew.comment"
                   (keyup.enter)="modal.close('ok')">
          </div>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a class="btn btn-sm kalendu-main-button-absagen px-4" (click)="modal.close('ok')">Absagen</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- MIN MAX -->
<ng-template #dlgminmax let-modal>
  <div class="modal-body" ngDraggable [handle]="ngd">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <i class="fas fa-times"></i>
    </button>
    <div class="container">
      <div class="form-row" #ngd>
        <div class="text-center col-12">
          <label>Mitspieler</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <label>Min:</label>
          <input type="text" class="form-control input-number" [(ngModel)]="game.min">
        </div>
        <div class="form-group col-6">
          <label>Max:</label>
          <input type="text" class="form-control input-number" [(ngModel)]="game.max">
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a class="btn btn-sm kalendu-main-button-zusagen px-4" (click)="modal.close('ok')">OK</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Deadline -->
<ng-template #dlgdeadline let-modal>
  <div class="modal-body" ngDraggable [handle]="ngd">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <i class="fas fa-times"></i>
    </button>
    <div class="container">
      <div class="form-row text-center" #ngd>
        <div class="col-12">
          <label>Deadline:</label>
        </div>
      </div>
      <div class="form-row align-items-center">
        <div class="form-group col-6">
          <!-- <label>Datum:</label> -->
          <input class="form-control" placeholder="dd.mm.yyyy" (focus)="d.open()" [(ngModel)]="game.dd" ngbDatepicker
                 #d="ngbDatepicker">
        </div>
        <div class="form-group col-6">
          <!-- <label>Zeit:</label> -->
          <ngb-timepicker [(ngModel)]="game.ddt" [minuteStep]="15"></ngb-timepicker>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a class="btn btn-sm kalendu-main-button-zusagen px-4" (click)="modal.close('ok')">OK</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Day-Time Start -->
<ng-template #dlgdtstart let-modal>
  <div class="modal-body" ngDraggable [handle]="ngd">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <i class="fas fa-times"></i>
    </button>
    <div class="container">
      <div class="form-row text-center" #ngd>
        <div class="col-12">
          <label>Wann spielen wir?</label>
        </div>
      </div>
      <div class="form-row align-items-center">
        <div class="form-group col-6">
          <input class="form-control" placeholder="dd.mm.yyyy" (focus)="d.open()" [(ngModel)]="game.dt" ngbDatepicker
                 #d="ngbDatepicker">
        </div>
        <div class="form-group col-6">
          <ngb-timepicker [(ngModel)]="game.dtt" [minuteStep]="15"></ngb-timepicker>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a class="btn btn-sm kalendu-main-button-zusagen px-4" (click)="modal.close('ok')">OK</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Setts -->
<ng-template #dlgsetts let-modal>
  <div class="modal-body" ngDraggable [handle]="ngd">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <i class="fas fa-times"></i>
    </button>
    <div class="container">
      <div class="form-row">
        <div class="form-group col-6">
          <label class="kalendu-dlg-content-label" #ngd>Wann spielen wir?</label>
          <input class="form-control" placeholder="dd.mm.yyyy" (focus)="d.open()" [(ngModel)]="game.dt" ngbDatepicker
                 #d="ngbDatepicker">
        </div>
        <div class="form-group col-6">
          <ngb-timepicker [(ngModel)]="game.dtt" [minuteStep]="15"></ngb-timepicker>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <label class="kalendu-dlg-content-label">Deadline:</label>
          <input class="form-control" placeholder="dd.mm.yyyy" (focus)="d.open()" [(ngModel)]="game.dd" ngbDatepicker
                 #d="ngbDatepicker">
        </div>
        <div class="form-group col-6">
          <!-- <label>Zeit:</label> -->
          <ngb-timepicker [(ngModel)]="game.ddt" [minuteStep]="15"></ngb-timepicker>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <label>Min:</label>
          <input type="text" class="form-control input-number" [(ngModel)]="game.min">
        </div>
        <div class="form-group col-6">
          <label>Max:</label>
          <input type="text" class="form-control input-number" [(ngModel)]="game.max">
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a class="btn btn-sm kalendu-main-button-zusagen px-4" (click)="modal.close('ok')">OK</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>



<app-a-footer></app-a-footer>
